# Async web framework, used for creating async web applications.
Quart==0.20.0
# Extension for handling Cross Origin Resource Sharing (CORS), allowing or restricting resources based on origins.
quart-cors==0.8.0
# Python library for Stripe's API, used for processing payments and managing billing.
stripe==12.4.0
