# Async web framework, used for creating async web applications.
Quart==0.19.9
# Extension for handling Cross Origin Resource Sharing (CORS), allowing or restricting resources based on origins.
quart-cors==0.7.0
# Python library for Stripe's API, used for processing payments and managing billing.
stripe==11.2.0
